input type="text" id="ingredient_input" class="form-input"
    div id="ingredient_suggestions" class="absolute z-10 w-full bg-white shadow-md mt-1"

    javascript:
      document.getElementById('ingredient_input').addEventListener('input', () => {
        const input = document.getElementById('ingredient_input').value;
        if (input.length > 0) {
          fetch(`/ingredients/search?query=${input}`)
            .then(response => response.json())
            .then(data => {
              console.log(data);
              const suggestions = document.getElementById('ingredient_suggestions');
              suggestions.innerHTML = '';
              data.forEach(item => {
                const div = document.createElement('div');
                div.textContent = item;
                console.log(div);
                div.className = "p-2 hover:bg-gray-200 cursor-pointer";
                div.onclick = function() {
                  document.getElementById('ingredient_input').value = this.textContent;
                  suggestions.innerHTML = '';
                };
                suggestions.appendChild(div);
              });
            })
            .catch(error => console.error('Error:', error));
        } else {
          document.getElementById('ingredient_suggestions').innerHTML = '';
        }
      });
