/ 食材入力欄1つ分のコンポーネント
div data-controller="ingredients"
  input data-ingredients-target="input" type="text" data-action="input->ingredients#update"
  div data-ingredients-target="suggestions" class="absolute z-10 w-full bg-white shadow-md mt-1"
