@tailwind base;
@tailwind components;
@tailwind utilities;

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "@fortawesome/fontawesome-free/css/all.css";

.main-icon:hover img {
  content: url('microwave_white.svg');
}

.bookmark-icon {
  font-size: 24px;
}

.bookmark-button {
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}