@tailwind base;
@tailwind components;
@tailwind utilities;

.main-icon:hover img {
  content: url('microwave_white.svg');
}

.bookmark-icon {
  font-size: 24px;
}

.bookmark-button {
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.x-icon {
  font-size: 24px;;
}

.x-button {
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}